body {
    background-color: #f9ebeb;
}

#erreur
{
	color: red;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #b38680;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a97670;
}

div {
	width : 35%;
    border-radius: 5px;
    background-color: #e2d1cf;
    padding: 20px;
}

td {
    padding-left: 20px;
}